# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, the below teams and usernames
# will be requested for review when someone opens a pull request.

* @AdamDewberry
* @edwardinfinity
* @a-h
